<!-- hero slider start -->
<div class="container">
  <div class="row">
      <div class="col-lg-12">
          <div class="slider-wrapper-area">
              <div class="hero-slider-active hero__1 slick-dot-style hero-dot">
                  <div class="single-slider" style="background-image: url(/assets/home/img/slider/slider11_bg.jpg);">
                      <div class="container p-0">
                          <div class="slider-main-content">
                              <div class="slider-content-img">
                                  <img src="/assets/home/img/slider/slider11_lable1.png" alt="">
                                  <img src="/assets/home/img/slider/slider11_lable2.png" alt="">
                                  <img src="/assets/home/img/slider/slider11_lable3.png" alt="">
                              </div>
                              <div class="slider-text">
                                  <div class="slider-label">
                                      <img src="/assets/home/img/slider/slider11_lable4.png" alt="">
                                  </div>
                                  <h1>headphones az12</h1>
                                  <p>Typi Non Habent Claritatem Insitam; Est Usus Legentis</p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="single-slider" style="background-image: url(/assets/home/img/slider/slider11_bg.jpg);">
                      <div class="container p-0">
                          <div class="slider-main-content">
                              <div class="slider-content-img">
                                  <img src="/assets/home/img/slider/slider11_lable1.png" alt="">
                                  <img src="/assets/home/img/slider/slider11_lable2.png" alt="">
                                  <img src="/assets/home/img/slider/slider11_lable3.png" alt="">
                              </div>
                              <div class="slider-text">
                                  <div class="slider-label">
                                      <img src="/assets/home/img/slider/slider11_lable4.png" alt="">
                                  </div>
                                  <h1>headphones az12</h1>
                                  <p>Typi Non Habent Claritatem Insitam; Est Usus Legentis</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- hero slider end -->
<!-- new product start -->
<div class="brand-area pt-28 pb-30">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <div class="section-title mb-30">
                  <div class="title-icon">
                      <i class="fa fa-flash"></i>
                  </div>
                  <h3>Sản phẩm mới</h3>
              </div> <!-- section title end -->
          </div>
      </div>
      <div class="row">
          <div class="col-12">
              <div class="brand-active slick-padding slick-arrow-style">

                  <!-- product single item start -->
                  <div class="product-item fix" *ngFor="let sp of pro">
                      <div class="product-thumb">
                          <a href="home/ctsp/{{sp.id}}">
                              <img src="/assets/home/img/sanpham/{{sp.anh}}" class="img-pri" alt="">
                          </a>
                          <div class="product-label ml-160">
                              <span>mới</span>
                          </div>
                          <div class="product-action-link mt-170">
                            <a (click)="addcart(sp)"><i class="fa fa-shopping-cart"></i></a>
                          </div>
                      </div>
                      <div class="product-content text-center border-top">
                          <a href="home/ctsp/{{sp.id}}" class="product-title text-dark font-weight-bold">{{sp.ten}} </a>
                          <div class="pricebox">
                              <span class="price text-danger">Giá: {{sp.giaban| number:'1.0-0'}}đ</span><br/>
                              <span class="strikethrough text-muted"><s>Giá cũ: 10.000.000 đ</s></span>
                          </div>
                      </div>
                  </div>
                  <!-- product single item end -->


              </div>
          </div>
      </div>
  </div>
</div>
<!-- new product end -->




