<router-outlet></router-outlet>

<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                                </div>
                                <!-- <form class="user" (ngSubmit)="login()">
                                    <div class="form-group">
                                        <input type="text" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Enter Email Address..." [(ngModel)]="user_email" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Password" [(ngModel)]="user_password" required>
                                    </div>
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox small">
                                            <input type="checkbox" class="custom-control-input" id="customCheck">
                                            <label class="custom-control-label" for="customCheck">Remember
                                                    Me</label>
                                        </div>
                                    </div>
                                    <a href="index.html" class="btn btn-primary btn-user btn-block">
                                            Login
                                        </a>
                                    <button type="submit">Login</button>
                                    <hr>
                                    <a href="index.html" class="btn btn-google btn-user btn-block">
                                        <i class="fab fa-google fa-fw"></i> Login with Google
                                    </a>
                                    <a href="index.html" class="btn btn-facebook btn-user btn-block">
                                        <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook
                                    </a>
                                </form> -->
                                <form (ngSubmit)="login()">
                                    <label for="user_email">Email:</label>
<input type="text" id="user_email" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Enter Email Address..." name="user_email" [(ngModel)]="user_email" required>
                                    <br>
                                    <label for="user_password">Password:</label>
                                    <input type="password" id="user_password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Password" name="user_password" [(ngModel)]="user_password" required>
                                    <br> <button type="submit" class="btn btn-primary btn-user btn-block">Login</button>
                                </form><br>
                                <div>
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                    Đăng ký tài khoản
                                  </button>

                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Đăng ký</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                          </button>
                                                </div>
                                                <div class="modal-body">
                                                    <!-- register.component.html -->
                                                    <form (submit)="register()" method="post ">
                                                        <div class="form-group">
                                                            <label for="username">Email : </label>
                                                            <input type="text" id="username" name="username" [(ngModel)]="myResult.user_email " required>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="email">Mật khẩu : </label>
                                                            <input type="password" id="email" name="email" [(ngModel)]="myResult.user_password" required>
                                                        </div>
<div class="form-group">
                                                            <label for="password">Số điện thoại : </label>
                                                            <input type="text" id="password" name="password" [(ngModel)]="myResult.user_phone" required>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="password">Tên : </label>
                                                            <input type="text" id="password" name="password" [(ngModel)]="myResult.user_name" required>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="password">Quyền : </label>
                                                            <input type="text" id="password" name="password" [(ngModel)]="myResult.quyen" readonly>
                                                        </div>
                                                        <button type="submit">Register</button>
                                                    </form>

                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    <button type="button" class="btn btn-primary">Save changes</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="text-center">
                                    <a class="small" href="forgot-password.html">Forgot Password?</a>
                                </div>
                                <div class="text-center">
                                    <a class="small" href="register.html">Create an Account!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
