<!-- breadcrumb area start -->
<div class="breadcrumb-area">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <div class="breadcrumb-wrap">
                  <nav aria-label="breadcrumb">
                      <ul class="breadcrumb">
                          <li class="breadcrumb-item"><a href="home/homepage">Trang chủ</a></li>
                          <li class="breadcrumb-item active" aria-current="page">Giới thiệu</li>
                      </ul>
                  </nav>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- breadcrumb area end -->

<!-- about wrapper start -->
<div class="about-us-wrapper pt-4">
  <div class="container">
      <div class="row">
          <!-- About Text Start -->
          <div class="col-lg-6">
              <div class="about-text-wrap">
                  <h2>GIỚI THIỆU</h2>
                  <p>Chúng tôi cung cấp loại dầu râu tốt nhất trên toàn thế giới. Chúng tôi là cửa hàng tốt nhất thế giới về Dầu Râu. Bạn có thể mua sản phẩm của chúng tôi mà không cần đắn đo vì họ tin tưởng chúng tôi và mua sản phẩm của chúng tôi mà không hề đắn đo vì họ tin tưởng và luôn vui vẻ khi mua sản phẩm của chúng tôi.</p>
                  <p>Một số khách hàng của chúng tôi nói rằng họ tin tưởng chúng tôi và mua sản phẩm của chúng tôi mà không hề do dự vì họ tin tưởng chúng tôi và luôn vui vẻ khi mua sản phẩm của chúng tôi.</p>
                  <p>Chúng tôi cung cấp những điều tốt nhất mà họ đã tin tưởng chúng tôi và mua sản phẩm của chúng tôi mà không hề có bất kỳ sự đắn đo nào vì họ tin tưởng chúng tôi và luôn vui vẻ mua hàng.</p>
              </div>
          </div>
          <!-- About Text End -->
          <!-- About Image Start -->
          <div class="col-lg-5 ml-auto">
              <div class="about-image-wrap mt-md-26 mt-sm-26">
                  <img src="/src/assets/home/img/gioithieu/gioithieu1.png" alt="About" />
              </div>
          </div>
          <!-- About Image End -->
      </div>
  </div>
</div>
<!-- about wrapper end -->

<!-- choosing area start -->
<div class="choosing-area pt-28">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <div class="title-box text-center mb-30">
                  <h3>Tại sao nên chọn chúng tôi ?</h3>
              </div>
          </div>
      </div> <!-- section title end -->
      <div class="row">
          <div class="col-lg-4">
              <div class="single-choose-item text-center mb-md-30 mb-sm-30">
                  <i class="fa fa-globe"></i>
                  <h4>Miễn phí giao hàng</h4>
                  <p>Galio Shop là một mẫu thương mại điện tử rất mượt mà và gọn gàng với khả năng vô tận.</p>
              </div>
          </div>
          <div class="col-lg-4">
              <div class="single-choose-item text-center mb-md-30 mb-sm-30">
                  <i class="fa fa-plane"></i>
                  <h4>Giao hàng nhanh</h4>
                  <p>Galio Shop là một mẫu thương mại điện tử rất mượt mà và gọn gàng với khả năng vô tận.</p>
              </div>
          </div>
          <div class="col-lg-4">
              <div class="single-choose-item text-center mb-md-30 mb-sm-30">
                  <i class="fa fa-comments"></i>
                  <h4>Hỗ trợ khách hàng</h4>
                  <p>Galio Shop là một mẫu thương mại điện tử rất mượt mà và gọn gàng với khả năng vô tận.</p>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- choosing area end -->


