        <!-- breadcrumb area start -->
        <div class="breadcrumb-area">
          <div class="container">
              <div class="row">
                  <div class="col-12">
                      <div class="breadcrumb-wrap">
                          <nav aria-label="breadcrumb">
                              <ul class="breadcrumb">
                                  <li class="breadcrumb-item"><a href="home/homepage">Trang chủ</a></li>
                                  <li class="breadcrumb-item active" aria-current="page">Liên hệ</li>
                              </ul>
                          </nav>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- breadcrumb area end -->

      <!-- contact area start -->
      <div class="contact-area pb-34 pb-md-18 pb-sm-0">
          <div class="container">
              <div class="row">
                  <div class="col-lg-12">
                      <div class="contact-info mt-md-28 mt-sm-28">
                          <h2>LIÊN HỆ</h2>
                          <p>Đến với chuyên trang thương mại điện tử Galio, mình sẽ hướng dẫn các bạn cách liên lạc với tổng đài Galio. Thông qua số hotline Galio, nhắn tin trực tiếp hoặc gửi mail cho tổng đài. Khi bạn mua hàng trên Galio và gặp rắc rối về đơn hàng, về sản phẩm,… Hoặc bạn muốn khiếu nại, hỗ trợ. Tổng đài Galio ( Galio Hotline ) là kênh thông tin liên lạc kết nối bạn với trung tâm hỗ trợ. Thay vì gọi trực tiếp, bạn có thể chat trực tiếp hoặc nhắn tin qua FB Messenger với nhân viên hỗ trợ.</p>
                          <p>Hotline tổng đài Galio khi bạn gặp các vướng mắc, hay khiếu nại. Hãy gọi đến số hotline tổng đài Galio 19001007. Cước phi cho mỗi cuộc gọi là 1000đ/phút. Tổng đài Galio làm việc từ 9h đến 18h vào các ngày trong tuần kể cả Thứ Bảy, Chủ Nhật trừ ngày lễ.kl</p>
                          <p>Thay vì đặt trên website, bạn cũng có thể gọi điện để đặt hàng trực tiếp. Số tổng đài Galio để đặt hàng là hotline 19001007 . Cước phí cũng là 1000đ/phút. Thời gian làm việc từ 9h đến 18h vào tất cả các ngày trong tuần trừ ngày lễ. Nếu có thắc mắc thêm thì trong quá trình đặt hàng qua điện thoại bạn có thể hỏi tổng đài.</p>
                          <p>Chat trực tuyến với nhân viên hỗ trợ Galio bằng Messenger bạn có thể chat trực tuyến với nhân viên hỗ trợ chăm sóc khách hàng thay vì gọi hotline Galio. Để chat với nhân viên chăm sóc khách hàng của Galio, hãy vào trang Galio.com. Thông thường sẽ chỉ mất vài phút để nhân viên trực tuyến của Galio trả lời cho bạn. So với gọi điện thì chat trực tuyến có ưu điểm hơn. Bạn sẽ không mất cước phí khi trò chuyện. Thời gian làm việc của chat trực tuyến Galio thì muộn hơn so với tổng đài hotline Galio.</p>
                          <p>Tôi được lợi gì khi dùng tài khoản Galio bạn có thể không cần tài khoản để mua hàng trên Galio. Nhưng bạn nên tạo tài khoản riêng cho mình để kiểm soát đơn hàng. Quá trình tạo tài khoản khá đơn giản, nhanh chóng và miễn phí. Việc có tài khoản sẽ thuận tiện hơn vì bạn sẽ theo dõi được tình trạng đơn hàng tốt hơn. Đồng thời bạn có thể hủy đơn hàng trong khi theo dõi, báo đổi trả đơn giản hơn. Biết được sản phẩm mình đặt hiện ở đâu mà không tốn nhiều bước. Ngoài ra bạn còn có được ưu đãi sử dụng mã giảm giá khi dùng tài khoản Galio. Bạn có thể truy cập bộ sưu tập mã giảm giá thông qua bài viết sau.</p>
                          <p>Báo cáo về sản phẩm được bán trên Galio tất cả các vấn đề về sản phẩm bạn hãy liên hệ đến tổng đài ngay để nhận sự hỗ trợ. Galio sẽ rất cảm kích nếu như bạn báo cho Galio về các sản phẩm là hàng giả, hàng nhái,…</p>
                          <p>Làm sao để đổi trả hàng trên Galio nếu như đơn hàng bạn nhận sai về mẫu mã,màu sắc, kích cỡ hay bị vỡ,.. Hãy gọi ngay tổng đài Galio để được hỗ trợ đổi trả hàng. Bạn cần thực hiện quá trình này nhanh nhất có thể trong 24h kể từ khi nhận đơn.</p>
                          <p>Nếu trong quá trình sử dụng, sản phẩm của bạn bị lỗi kĩ thuật. Hãy liên hệ với tổng đài Galio để được hướng dẫn chi tiết nhất các bước bảo hành sản phẩm. Hoặc bạn có thể gọi tổng đài nhờ nhân viên hỗ trợ cách kích hoạt bảo hành điện tử khi mua những mặt hàng như tivi,máy lạnh,laptop,…</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- contact area end -->

      <!-- contact area start -->
      <div class="contact-area pb-34 pb-md-18 pb-sm-0">
          <div class="container">
              <div class="row">
                  <div class="col-lg-6">
                      <div class="contact-message">
                          <h2>Hãy cho chúng tôi biết ý kiến của bạn</h2>
                          <form id="contact-form" action="http://demo.hasthemes.com/galio-v6/galio/src/assets/home/php/mail.php" method="post" class="contact-form">
                              <div class="row">
                                  <div class="col-lg-6 col-md-6 col-sm-6">
                                      <input name="first_name" placeholder="Name *" type="text" required>
                                  </div>
                                  <div class="col-lg-6 col-md-6 col-sm-6">
                                      <input name="phone" placeholder="Phone *" type="text" required>
                                  </div>
                                  <div class="col-lg-6 col-md-6 col-sm-6">
                                      <input name="email_address" placeholder="Email *" type="text" required>
                                  </div>
                                  <div class="col-lg-6 col-md-6 col-sm-6">
                                      <input name="contact_subject" placeholder="Subject *" type="text">
                                  </div>
                                  <div class="col-12">
                                      <div class="contact2-textarea text-center">
                                          <textarea placeholder="Message *" name="message"  class="form-control2" required=""></textarea>
                                      </div>
                                      <div class="contact-btn">
                                          <button class="sqr-btn" type="submit">Gửi ý kiến</button>
                                      </div>
                                  </div>
                                  <div class="col-12 d-flex justify-content-center">
                                      <p class="form-messege"></p>
                                  </div>
                              </div>
                          </form>
                      </div>
                  </div>
                  <div class="col-lg-6">
                      <div class="contact-info mt-md-28 mt-sm-28">
                          <h2>Liên hệ</h2>
                          <p>Hãy cho chúng tôi biết ý kiến của bạn để giúp cải thiện lại hệ thống bán hàng của chúng tôi. Chúng tôi sẽ thay đổi và cải thiện lại trang web để giúp tăng trải nghiệm sử dụng của bạn.</p>
                          <ul>
                              <li><i class="fa fa-fax"></i> Địa chỉ: 3/43 Hoàng Diệu, Cẩm Thượng, tp. Hải Dương, Hải Dương</li>
                              <li><i class="fa fa-phone"></i> hoanghd18112002@gmail.com </li>
                              <li><i class="fa fa-envelope-o"></i> +(84) 906.090.112</li>
                          </ul>
                          <div class="working-time">
                              <h3>Thời gian làm việc</h3>
                              <p><span>Mon – Sun:</span>8 AM – 22 PM</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- contact area end -->

      
